img {
    width: 250px;
    border-radius: 50%;
    margin: 15px;
    height: 30vh;
}

body {
    background-color: rgb(236, 126, 126);
    color: rgb(81, 13, 71);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center ; 
    height: flex;
    margin: 500;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}