h1 {
    display: flex;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.red-box {
    background-color: red;
}

.pink-box {
    background-color: pink;
}

.green-box {
    background-color: green;
}
